<h2>Please use this form to update a Task</h2>


<%= form_with model: @task, class: 'update-task' do |f| %>

  <p>Please fill out this form to update a task</p>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Add Task", class: "task-form__submit-btn" %>

<% end %>
