<h2>
  Task name: <%= @task.name %>
</h2>

<h3>
  Description: <%= @task.description %>
</h3>

<p>
  Completion Date: <%= @task.complete_date %>
</p>

<ul>
  <li><%= link_to "Edit #{@task.name}", edit_task_path(@task.id) %></li>
  <li><%= link_to "Back to All Tasks", tasks_path %></li>
  <li><%= link_to "Delete #{@task.name}", 
      task_path(@task.id), method: :delete, data: {confirm: "Are you sure you want to delete the #{@task.name} task?"} %></li>
</ul>
